<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with model: @user do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :emp_no, "社員番号" %>
      <%= f.number_field :emp_no, class: 'form-control' %>
       
      <%= f.label :join_date, "入社年月日" %><br>
      <%= f.date_field :join_date %>

      <%= f.fields_for :user_bushos do |ub| %>
        <% i = 1 %>
        <%= ub.label :busho_id, "部署 #{i}" %><br>
        <%= ub.collection_select :busho_id, Busho.all, :id,:busho_name %>
        <%= ub.date_field :addbusho_date %>
        <%= ub.date_field :delbusho_date %>
          <%= ub.check_box :_destroy %>

                <td class="align-middle p-0"><input type="button" value="削除" onclick="deleteRow(ub)"></td>
        <% i += 1 %>
      <% end %>

      <%= f.label :yakushoku_id, "役職" %>
      <%= f.collection_select :yakushoku_id, Yakushoku.all, :id, :yaku_name %>

      <%= f.label :committee_id, "所属委員会" %>
      <%= f.collection_select :committee_id, Committee.all, :id, :com_name %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "submit account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>