<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %><br>
      </h1>
    </section>

<table class="table table-dark table-striped table-hover">
      <thead>
          <tr class="row-1 odd table-dark">
            <th class="column-1 table-dark table-dark">属性</th>
            <th class="column-1">情報</th>
          </tr>
      </thead>
      <tbody class="row-hover">
              <tr>
                  <td class="column-n"><%= "ユーザ名" %></td>
                  <td class="column-n"><%= @user.name %></td>
              </tr>
              <tr>
                  <td class="column-n"><%= "e-mail" %></td>
                  <td class="column-n"><%= @user.email %></td>
              </tr>
              <tr>
                  <td class="column-n"><%= "社員番号" %></td>
                  <td class="column-n"><%= @user.emp_no %></td>
              </tr>
              <tr>
                  <td class="column-n"><%= "入社日" %></td>
                  <td class="column-n"><%= @user.join_date %></td>
              </tr>
              <tr>
                  <td class="column-n"><%= "在籍期間" %></td>
                  <% d1 = @user.join_date
                      d2 = Date.today
                      d2 -= d1 - Date.new( d1.year, d1.month, 1 )
                      # 月数で計算
                      diff_months = d2.year * 12 + d2.month - d1.year * 12 - d1.month
                      # 年月日に戻す
                      diff_years = diff_months / 12
                      diff_months -= diff_years * 12
                      diff_days = d2.day - 1  %>
                  <td class="column-n"><%= "#{diff_years}年#{diff_months}ヶ月#{diff_days}日" %></td>
              </tr>
              <% if !@user.user_bushos.empty? %>
                <tr>
                  <td class="column-n"><%= "部署名" %></td>
                  <td class="column-n"><%= Busho.find(@user.user_bushos.last.busho_id).busho_name  %></td>
                </tr>
              <% end %>
        </tbody>
    </table>

  </aside>
</div>