
<header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
      <%= link_to "ComSystem", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li><%= link_to "Home",   root_path ,class: "nav-link"  %></li>
        <li><%= link_to "Help",   helf_path ,class: "nav-link"  %></li>

        <% if logged_in? %>
          <li><%= link_to "従業員一覧",   employee_path ,class: "nav-link"  %></li>
          <li class="dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Log out", logout_path, data: { turbo_method: :delete } %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path ,class: "nav-link" %></li>
        <% end %>

      </ul>
    </div>
  </div>
</header>